@model List<_2001200647_QLNUOCGIAIKHAT.Context.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    .maxhight {
        height: 450px;
    }

    .imgheight {
        height: 200px;
    }

    a {
        color: black;
        text-decoration: none;
    }

        a:hover {
            color: black;
            box-shadow: 3px 3px 3px 3px;
        }

    * {
        font-family: 'Times New Roman';
    }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Danh sách sản phẩm</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nước Lọc</li>
    </ol>
</nav>
<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <a class="card col-3 maxhight" href="/product/detail/@item.Id">
                <div class="card-img card-img-top p-1">
                    <img src="~/Public/image/@item.Image" class="figure-img imgheight" />
                </div>
                <div class="card-title text-center h-50">
                    <p class="h5 text-wrap">@item.Name </p>
                    <p class="h6 text-black">@item.Price VND</p>
                </div>
                <div class="card-footer flex-column">
                    <div class="btn btn-dark btn-sm float-end"> Chi tiết sản phẩm </div>

                </div>
            </a>

        }


    </div>

</div>
